# IMDB Movies

In [444]:
import pandas as pd
import numpy as np

In [445]:
movies = pd.read_csv('IMDb movies.csv',low_memory=False)

In [446]:
movies.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [447]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          85855 non-null  object
 1   title                  85855 non-null  object
 2   original_title         85855 non-null  object
 3   year                   85855 non-null  object
 4   date_published         85855 non-null  object
 5   genre                  85855 non-null  object
 6   duration               85855 non-null  int64
 7   country                85791 non-null  object
 8   language               85022 non-null  object
 9   director               85768 non-null  object
 10  writer                 84283 non-null  object
 11  production_company     81400 non-null  object
 12  actors                 85786 non-null  object
 13  description            83740 non-null  object
 14  avg_vote               85855 non-null  float64
 15  votes                  85855 non-null  int64
 16  budget                 23710 non-null  object
 17  usa_gross_income       15326 non-null  object
 18  worlwide_gross_income  31016 non-null  object
 19  metascore              13305 non-null  float64
 20  reviews_from_users     78258 non-null  float64
 21  reviews_from_critics   74058 non-null  float64
dtypes: float64(4), int64(2), object(16)
memory usage: 14.4+ MB

# Preprocessing

In [448]:
#drop na values
#movies.dropna(subset = ['budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore'], inplace = True)
movies.dropna(inplace = True)

#drop columns won't be used
movies.drop(columns = ['imdb_title_id', 'title', 'original_title', 'date_published', 'director', 'writer', 'actors', 'description'], inplace = True)

In [449]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6616 entries, 506 to 85740
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   year                   6616 non-null   object
 1   genre                  6616 non-null   object
 2   duration               6616 non-null   int64
 3   country                6616 non-null   object
 4   language               6616 non-null   object
 5   production_company     6616 non-null   object
 6   avg_vote               6616 non-null   float64
 7   votes                  6616 non-null   int64
 8   budget                 6616 non-null   object
 9   usa_gross_income       6616 non-null   object
 10  worlwide_gross_income  6616 non-null   object
 11  metascore              6616 non-null   float64
 12  reviews_from_users     6616 non-null   float64
 13  reviews_from_critics   6616 non-null   float64
dtypes: float64(4), int64(2), object(8)
memory usage: 775.3+ KB

In [450]:
#convert'year'to int and filter records before 1970
movies['year'] = movies['year'].astype(int)
movies.drop(movies[movies['year']<1970].index, inplace = True)

In [451]:
#split coloumn 'usa_gross_income', 'worlwode_gross_income' and 'budget' into two columns

movies['usa_income_symbol'], movies['usa_income_old'] = movies['usa_gross_income'].str.split(' ', 1).str
movies['usa_income_old'] = movies['usa_income_old'].astype(float)

movies['worlwide_income_symbol'], movies['worlwide_income_old'] = movies['worlwide_gross_income'].str.split(' ', 1).str
movies['worlwide_income_old'] = movies['worlwide_income_old'].astype(float)

movies['budget_symbol'], movies['budget_old'] = movies['budget'].str.split(' ', 1).str
movies['budget_old'] = movies['budget_old'].astype(float)

<ipython-input-451-879768cfbbbf>:3: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  movies['usa_income_symbol'], movies['usa_income_old'] = movies['usa_gross_income'].str.split(' ', 1).str
<ipython-input-451-879768cfbbbf>:6: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  movies['worlwide_income_symbol'], movies['worlwide_income_old'] = movies['worlwide_gross_income'].str.split(' ', 1).str
<ipython-input-451-879768cfbbbf>:9: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  movies['budget_symbol'], movies['budget_old'] = movies['budget'].str.split(' ', 1).str

In [452]:
#currency converter
from currency_converter import CurrencyConverter
c = CurrencyConverter()

movies['usa_income_symbol'] = movies['usa_income_symbol'].str.replace('$','USD')
movies['usa_income_dollar'] = movies.apply(lambda movies: c.convert(movies['usa_income_old'],movies['usa_income_symbol'],new_currency='USD'),axis=1)

movies['worlwide_income_symbol'] = movies['worlwide_income_symbol'].str.replace('$','USD')
movies['worlwide_income_dollar'] = movies.apply(lambda movies: c.convert(movies['worlwide_income_old'],movies['worlwide_income_symbol'],new_currency='USD'),axis=1)


movies['budget_symbol'] = movies['budget_symbol'].str.replace('$','USD')
movies['budget_symbol'] = movies['budget_symbol'].str.replace('RUR','RUB')


def convert_others_to_usd(symbol:str, old_value:float):
    #currency rates are found in the website: https://www.xe.com/currencyconverter/convert/?Amount=1&From=DEM&To=USD
    currencies = {
        'DEM': 0.61261302,
        'FRF': 0.182659,
        'ITL': 0.000618802,
        'BEF': 0.0297018,
        'ESP': 0.00720113,
        'ATS': 0.0870742, 
        'FIM': 0.201517,
        'CLP': 0.00142245,
        'NGN': 0.0026280674,
        'ARS': 0.010775668,
        'DOP': 0.017537532
    }
    if symbol in currencies:
        converted_value = currencies[symbol] * old_value
    else:
        converted_value = c.convert(old_value, symbol, 'USD')
    return converted_value

        
movies['budget_dollar'] = movies.apply(lambda movies: convert_others_to_usd(movies['budget_symbol'],movies['budget_old']),axis=1)



movies.drop(columns = ['usa_gross_income','usa_income_symbol','usa_income_old',
                       'worlwide_gross_income','worlwide_income_symbol','worlwide_income_old',
                       'budget','budget_symbol','budget_old'], inplace = True)

In [453]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6525 entries, 4334 to 85740
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    6525 non-null   int64
 1   genre                   6525 non-null   object
 2   duration                6525 non-null   int64
 3   country                 6525 non-null   object
 4   language                6525 non-null   object
 5   production_company      6525 non-null   object
 6   avg_vote                6525 non-null   float64
 7   votes                   6525 non-null   int64
 8   metascore               6525 non-null   float64
 9   reviews_from_users      6525 non-null   float64
 10  reviews_from_critics    6525 non-null   float64
 11  usa_income_dollar       6525 non-null   float64
 12  worlwide_income_dollar  6525 non-null   float64
 13  budget_dollar           6525 non-null   float64
dtypes: float64(7), int64(3), object(4)
memory usage: 764.6+ KB

# Naive Bayes

In [454]:
#predict with categorical attributes
#label = movies['avg_vote'].astype(int)

label = pd.cut(avg_vote,10,right=True)
cate = movies[['genre','country','language','production_company']]

#encode categorical attributes
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
cate_encoded = cate.apply(le.fit_transform)
label_encoded = label.apply(le.fit_transform)

In [455]:
#split training and test sets
from sklearn.model_selection import train_test_split
cate_train, cate_test,label_train,label_test = train_test_split(cate_encoded, label_encoded,test_size=0.15, random_state=5)
print(cate_train.shape)
print(cate_test.shape)
print(label_train.shape)
print(label_test.shape)

(5546, 4)
(979, 4)
(5546,)
(979,)

In [456]:
#CategoricalNB
from sklearn.naive_bayes import CategoricalNB
CNB = CategoricalNB()
CNB.fit(cate_train,label_train,sample_weight=None)
cate_predictions = CNB.predict(cate_test)

#evaluate the result
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
print('Accuracy score: %f'%accuracy_score(label_test, cate_predictions))

Accuracy score: 0.426966

In [457]:
#predict with continuous attributes
cont = movies[['metascore','reviews_from_users','reviews_from_critics','usa_income_dollar','worlwide_income_dollar','budget_dollar']]

#split training and test sets
cont_train, cont_test,label_train,label_test = train_test_split(cont, label_encoded,test_size=0.15, random_state=5)

#GaussianNB
from sklearn.naive_bayes import GaussianNB
GNB = GaussianNB()
GNB.fit(cont_train,label_train)
cont_predictions = GNB.predict(cont_test)

#evaluate the ressult
print('Accuracy score: %f'%accuracy_score(label_test, cont_predictions))

Accuracy score: 0.271706

In [458]:
#predict with discrete attributes
disc = movies[['year','duration','votes']]

#split training and test sets
disc_train, disc_test,label_train,label_test = train_test_split(disc, label_encoded,test_size=0.15, random_state=5)

#BernoulliNB
from sklearn.naive_bayes import BernoulliNB
BNB = BernoulliNB()
BNB.fit(disc_train,label_train)
disc_predictions = BNB.predict(disc_test)

#evaluate the result
print('Accuracy score: %f'%accuracy_score(label_test, disc_predictions))

Accuracy score: 0.394280

In [459]:
#predict with MixedNB
movies['avg_vote'] = pd.cut(avg_vote,10,right=True)
movies_encoded = movies.apply(le.fit_transform)
label_encoded = movies_encoded['avg_vote']
movies_encoded = movies_encoded.drop(columns=['avg_vote'])

movie_train, movie_test,label_train,label_test = train_test_split(movies_encoded, label_encoded,test_size=0.15, random_state=5)

from mixed_naive_bayes import MixedNB
MNB = MixedNB()
MNB.fit(movie_train,label_train)
predictions = MNB.predict(movie_test)

print('Accuracy score: %f'%accuracy_score(label_test, predictions))

[]
Accuracy score: 0.477017