# IMDB Movies_Drop Rows

In [132]:
import pandas as pd
import numpy as np

In [133]:
movies = pd.read_csv('IMDb movies.csv',low_memory=False)

In [134]:
movies.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [135]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          85855 non-null  object
 1   title                  85855 non-null  object
 2   original_title         85855 non-null  object
 3   year                   85855 non-null  object
 4   date_published         85855 non-null  object
 5   genre                  85855 non-null  object
 6   duration               85855 non-null  int64
 7   country                85791 non-null  object
 8   language               85022 non-null  object
 9   director               85768 non-null  object
 10  writer                 84283 non-null  object
 11  production_company     81400 non-null  object
 12  actors                 85786 non-null  object
 13  description            83740 non-null  object
 14  avg_vote               85855 non-null  float64
 15  votes                  85855 non-null  int64
 16  budget                 23710 non-null  object
 17  usa_gross_income       15326 non-null  object
 18  worlwide_gross_income  31016 non-null  object
 19  metascore              13305 non-null  float64
 20  reviews_from_users     78258 non-null  float64
 21  reviews_from_critics   74058 non-null  float64
dtypes: float64(4), int64(2), object(16)
memory usage: 14.4+ MB

In [136]:
movies.describe(include='all')

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
count,85855,85855,85855,85855,85855,85855,85855.000000,85791,85022,85768,...,85786,83740,85855.000000,8.585500e+04,23710,15326,31016,13305.000000,78258.000000,74058.000000
unique,85855,82094,80852,113,22012,1257,NaN,4907,4377,34733,...,85729,83611,NaN,NaN,4642,14857,30414,NaN,NaN,NaN
top,tt0118608,Anna,Anna,2017,2010,Drama,NaN,USA,English,Jesús Franco,...,"Nobuyo Ôyama, Noriko Ohara, Michiko Nomura, Ka...",The story of,NaN,NaN,$ 1000000,$ 1000000,$ 8144,NaN,NaN,NaN
freq,1,10,10,3329,113,12543,NaN,28511,35939,87,...,9,15,NaN,NaN,758,19,15,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,100.351418,NaN,NaN,NaN,...,NaN,NaN,5.898656,9.493490e+03,NaN,NaN,NaN,55.896881,46.040826,27.479989
std,NaN,NaN,NaN,NaN,NaN,NaN,22.553848,NaN,NaN,NaN,...,NaN,NaN,1.234987,5.357436e+04,NaN,NaN,NaN,17.784874,178.511411,58.339158
min,NaN,NaN,NaN,NaN,NaN,NaN,41.000000,NaN,NaN,NaN,...,NaN,NaN,1.000000,9.900000e+01,NaN,NaN,NaN,1.000000,1.000000,1.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,88.000000,NaN,NaN,NaN,...,NaN,NaN,5.200000,2.050000e+02,NaN,NaN,NaN,43.000000,4.000000,3.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,96.000000,NaN,NaN,NaN,...,NaN,NaN,6.100000,4.840000e+02,NaN,NaN,NaN,57.000000,9.000000,8.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,108.000000,NaN,NaN,NaN,...,NaN,NaN,6.800000,1.766500e+03,NaN,NaN,NaN,69.000000,27.000000,23.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,808.000000,NaN,NaN,NaN,...,NaN,NaN,9.900000,2.278845e+06,NaN,NaN,NaN,100.000000,10472.000000,999.000000

# Preprocessing

In [137]:
#drop na values
movies.dropna(inplace = True)

#drop columns won't be used
movies.drop(columns = ['imdb_title_id', 'title', 'original_title', 'date_published', 'description'], inplace = True)

In [138]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6616 entries, 506 to 85740
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   year                   6616 non-null   object
 1   genre                  6616 non-null   object
 2   duration               6616 non-null   int64
 3   country                6616 non-null   object
 4   language               6616 non-null   object
 5   director               6616 non-null   object
 6   writer                 6616 non-null   object
 7   production_company     6616 non-null   object
 8   actors                 6616 non-null   object
 9   avg_vote               6616 non-null   float64
 10  votes                  6616 non-null   int64
 11  budget                 6616 non-null   object
 12  usa_gross_income       6616 non-null   object
 13  worlwide_gross_income  6616 non-null   object
 14  metascore              6616 non-null   float64
 15  reviews_from_users     6616 non-null   float64
 16  reviews_from_critics   6616 non-null   float64
dtypes: float64(4), int64(2), object(11)
memory usage: 930.4+ KB

In [139]:
#convert'year'to int and filter records before 1970
movies['year'] = movies['year'].astype(int)
movies.drop(movies[movies['year']<1970].index, inplace = True)

In [140]:
#split coloumn 'usa_gross_income', 'worlwode_gross_income' and 'budget' into two columns

movies['usa_income_symbol'], movies['usa_income_old'] = movies['usa_gross_income'].str.split(' ', 1).str
movies['usa_income_old'] = movies['usa_income_old'].astype(float)

movies['worlwide_income_symbol'], movies['worlwide_income_old'] = movies['worlwide_gross_income'].str.split(' ', 1).str
movies['worlwide_income_old'] = movies['worlwide_income_old'].astype(float)

movies['budget_symbol'], movies['budget_old'] = movies['budget'].str.split(' ', 1).str
movies['budget_old'] = movies['budget_old'].astype(float)

<ipython-input-140-879768cfbbbf>:3: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  movies['usa_income_symbol'], movies['usa_income_old'] = movies['usa_gross_income'].str.split(' ', 1).str
<ipython-input-140-879768cfbbbf>:6: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  movies['worlwide_income_symbol'], movies['worlwide_income_old'] = movies['worlwide_gross_income'].str.split(' ', 1).str
<ipython-input-140-879768cfbbbf>:9: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  movies['budget_symbol'], movies['budget_old'] = movies['budget'].str.split(' ', 1).str

In [141]:
#currency converter
from currency_converter import CurrencyConverter
c = CurrencyConverter()

movies['usa_income_symbol'] = movies['usa_income_symbol'].str.replace('$','USD')
movies['usa_income_dollar'] = movies.apply(lambda movies: c.convert(movies['usa_income_old'],movies['usa_income_symbol'],new_currency='USD'),axis=1)

movies['worlwide_income_symbol'] = movies['worlwide_income_symbol'].str.replace('$','USD')
movies['worlwide_income_dollar'] = movies.apply(lambda movies: c.convert(movies['worlwide_income_old'],movies['worlwide_income_symbol'],new_currency='USD'),axis=1)

movies['budget_symbol'] = movies['budget_symbol'].str.replace('$','USD')
movies['budget_symbol'] = movies['budget_symbol'].str.replace('RUR','RUB')

#define a function to deal with currencies not included in the CurrencyCinverter
def convert_others_to_usd(symbol:str, old_value:float):
    #currency rates are found in the website: https://www.xe.com/currencyconverter/convert/?Amount=1&From=DEM&To=USD
    currencies = {
        'DEM': 0.61261302,
        'FRF': 0.182659,
        'ITL': 0.000618802,
        'BEF': 0.0297018,
        'ESP': 0.00720113,
        'ATS': 0.0870742, 
        'FIM': 0.201517,
        'CLP': 0.00142245,
        'NGN': 0.0026280674,
        'ARS': 0.010775668,
        'DOP': 0.017537532
    }
    if symbol in currencies:
        converted_value = currencies[symbol] * old_value
    else:
        converted_value = c.convert(old_value, symbol, 'USD')
    return converted_value

movies['budget_dollar'] = movies.apply(lambda movies: convert_others_to_usd(movies['budget_symbol'],movies['budget_old']),axis=1)

movies.drop(columns = ['usa_gross_income','usa_income_symbol','usa_income_old',
                       'worlwide_gross_income','worlwide_income_symbol','worlwide_income_old',
                       'budget','budget_symbol','budget_old'], inplace = True)

In [142]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6525 entries, 4334 to 85740
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    6525 non-null   int64
 1   genre                   6525 non-null   object
 2   duration                6525 non-null   int64
 3   country                 6525 non-null   object
 4   language                6525 non-null   object
 5   director                6525 non-null   object
 6   writer                  6525 non-null   object
 7   production_company      6525 non-null   object
 8   actors                  6525 non-null   object
 9   avg_vote                6525 non-null   float64
 10  votes                   6525 non-null   int64
 11  metascore               6525 non-null   float64
 12  reviews_from_users      6525 non-null   float64
 13  reviews_from_critics    6525 non-null   float64
 14  usa_income_dollar       6525 non-null   float64
 15  worlwide_income_dollar  6525 non-null   float64
 16  budget_dollar           6525 non-null   float64
dtypes: float64(7), int64(3), object(7)
memory usage: 917.6+ KB

In [143]:
#calculate correlation between 'age_vote' and 'metascore'
movies['avg_vote'].corr(movies['metascore'])

0.725834514716797

In [144]:
movies['avg_vote'].corr(movies['budget_dollar'])

0.04314846498721877

In [145]:
movies['avg_vote'].corr(movies['worlwide_income_dollar'])

0.19384483433306784

In [146]:
movies['avg_vote'].corr(movies['usa_income_dollar'])

0.20206827282680453

In [147]:
movies['avg_vote'].corr(movies['reviews_from_users'])

0.2743986907309596

In [148]:
movies['avg_vote'].corr(movies['reviews_from_critics'])

0.32339294138824565

In [149]:
movies['avg_vote'].corr(movies['votes'])

0.4337963304104832

In [150]:
movies['avg_vote'].corr(movies['year'])

-0.1037084726912497

# Naive Bayes

In [95]:
label = pd.cut(movies['avg_vote'],5,right=True)
movies = movies.drop(columns=['avg_vote'])

#encode
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
movies = movies.apply(le.fit_transform)
label = label.apply(le.fit_transform)

In [127]:
#split training and test sets
from sklearn.model_selection import train_test_split
movies_train, movies_test,label_train,label_test = train_test_split(movies, label,test_size=0.2, random_state=11)
print(movies_train.shape)
print(movies_test.shape)
print(label_train.shape)
print(label_test.shape)

(5220, 16)
(1305, 16)
(5220,)
(1305,)

In [128]:
#CategoricalNB
from sklearn.naive_bayes import CategoricalNB
CNB = CategoricalNB()
CNB.fit(movies_train,label_train)

#evaluate the result
print('Accuracy score: %f'%CNB.score(movies_test,label_test))

Accuracy score: 0.644444

In [129]:
#BernoulliNB
from sklearn.naive_bayes import BernoulliNB
BNB = BernoulliNB()
BNB.fit(movies_train,label_train)

#evaluate the result
print('Accuracy score: %f'%BNB.score(movies_test,label_test))

Accuracy score: 0.591571

In [130]:
#GaussianNB
from sklearn.naive_bayes import GaussianNB
GNB = GaussianNB()
GNB.fit(movies_train,label_train)

#evaluate the ressult
print('Accuracy score: %f'%GNB.score(movies_test,label_test))

Accuracy score: 0.519540